@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #825f00;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  color: $black-color;
  text-decoration: none;
}

.fw600 {
  font-weight: 600;
}

.fs14 {
  font-size: 1.4rem;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.header-top {
  display: flex;
  padding: 0 16px;
}

.header-address {
  width: 30%;
}

.header-address__heading {
  font-size: 1.4rem;
  color: $black-color;
  margin: 18px 0;
  font-weight: 400;
}

.header-address__form {
  border: none;
  font-size: 1.4rem;
  color: $primary-color;
  margin: 0 12px;
  outline: none;
}

.header-info {
  width: 40%;
}

.header-info__heading {
  font-size: 1.4rem;
  color: $text-color;
  font-weight: 400;
  text-align: center;
  margin: 18px 0;
}

.header-info__phone {
  color: #f1aa0c;
}

.header-logs__list {
  flex: 1;
  justify-content: flex-end;
  display: flex;
  margin: 18px 0;
}

.header-logs__item {
  list-style: none;
  position: relative;
}

.header-logs__link::after {
  content: '';
  position: absolute;
  display: block;
  border-right: 1px solid $primary-color;
  height: 12px;
  top: 2px;
  right: -4px;
}

.header-logs__item:last-child .header-logs__link::after {
  display: none;
}

.header-logs__link {
  text-decoration: none;
  font-size: 1.4rem;
  color: $text-color;
  padding: 0 15px;
  font-weight: 400;
}

/*------------------ header bottom ---------------------*/

.header-bt {
  background-color: $primary-color;
}

.header-bottom {
  display: flex;
  align-items: center;
  height: 100px;
}

.header-bottom__search {
  position: relative;
  flex: 1;
  margin-top: 12px;
  margin-left: 16px;
}

.header-bottom__search-input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: 1.4rem;
}

.btn-search {
  width: 36px;
  height: 36px;
  position: absolute;
  margin: 0 0 0 -36px;
  border: none;
  background: white;
  border-radius: 3px;
}

.header-bottom__menu {
  margin-left: 20px;
}

.header-menu__list {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 0;
}

.header-menu__item {
  list-style: none;
  text-align: center;
}

.header-menu__item:hover .header-menu__sub-phone {
  display: block;
}

.header-menu__link {
  width: 100px;
  height: 100px;
  text-decoration: none;
  display: block;
  font-size: 1.4rem;
  color: $white-color;
  padding: 17px 0;
  position: relative;
}

.header-logs__link:hover,
.header-menu__link:hover {
  color: $white-color;
  text-decoration: none;
}
.header-logs__link:hover {
  color: $black-color;
}
.header-menu__link:hover::after {
  visibility: visible;

  transform: scaleX(1);
}

.header-menu__link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}

.header-menu__link::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 50%;
  transform: translateX(50%);
  display: block;
  border: 6px solid;
  opacity: 0;
  visibility: hidden;
  border-color: $white-color transparent transparent transparent;
  transition: 0.4s all ease-in-out;
}

.header-menu__link:hover::before {
  visibility: visible;
  opacity: 1;
  top: -2px;
}

/* icon */

.all-icon {
  background-image: url(https://mobilecity.vn/public/assets/img/all_icon1.png);
  background-repeat: no-repeat;
}

.icon-logo {
  width: 220px;
  height: 40px;
  background-position: 0 -41px;
}

.icon-phone {
  width: 22px;
  height: 40px;
  background-position: -2px 0;
  margin: 5px auto;
}

.icon-tablet {
  width: 55px;
  height: 30px;
  background-position: -25px 0;
  margin: 10px auto;
}

.icon-dependency {
  width: 27px;
  height: 42px;
  background-position: -80px 0;
  margin: 4px auto;
}

.icon-repair {
  width: 24px;
  height: 41px;
  background-position: -107px 0;
  margin: 4px auto;
}

.icon-endow {
  width: 30px;
  height: 30px;
  margin: 10px auto;
  background-position: -131px 0;
}

.icon-rank {
  width: 26px;
  height: 26px;
  background-position: -302px -52px;
  float: left;
  margin: 0 10px 0 250px;
}

.icon-warranty {
  width: 30px;
  height: 30px;
  margin: 10px auto;
  background-position: -40px -150px;
}

.icon-connect {
  width: 18px;
  height: 20px;
  float: left;
  margin: -2px 5px 5px 0;
  background-position: -210px -22px;
}

.icon-email {
  width: 26px;
  height: 17px;
  float: left;
  margin: -2px 5px 5px 0;
  background-position: -312px 0;
}

.icon-policy {
  width: 20px;
  height: 20px;
  float: left;
  margin: -2px 5px 5px 0;
  background-position: -218px 0;
}

.icon-location {
  width: 17px;
  height: 24px;
  background-position: -337px 0px;
  float: left;
  margin: -2px 5px 5px 0;
}

.icon-youtube {
  background-position: -239px 0;
}

.icon-facebook {
  background-position: -264px 0;
}

.icon-norton {
  width: 150px;
  height: 80px;
  float: right;
  background-position: -154px -83px;
}

.icon-notification {
  width: 153px;
  float: right;
  height: 59px;
  margin: 10px 0 0 0;
  background-position: 0 -83px;
}

.icon-bank {
  width: 100px;
  height: 26px;
  background-position: -300px -23px;
  float: left;
  margin: -5px 0 0 20px;
}

.icon-search {
  background-position: -193px 0;
  width: 25px;
  height: 24px;
  margin: 0 auto;
}

.icon-facebook,
.icon-youtube,
.icon-instagram,
.icon-forum-2 {
  width: 25px;
  height: 25px;
  float: left;
}

/* sub nav   phone */

.header-menu__sub-phone {
  position: absolute;
  top: 100%;
  left: -250px;
  width: 760px;
  text-align: left;
  border: 1px solid $primary-color;
  border-top: none;
  box-shadow: 0 4px 15px -5px rgb(0, 0, 0);
  display: none;
  z-index: 1;
  background: #fff;
}

.header-menu__sub-phone-menu {
  display: flex;
}

.sub-phone__left {
  flex: 1;
  margin-top: 20px;
  margin-left: 20px;
}

.sub-phone__left-heading {
  font-size: 1.4rem;
  font-weight: 500;
  color: #e79f00;
  border-bottom: 1px solid #e79f00;
  padding-bottom: 4px;
  text-align: left;
}

.sub-phone__left-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  text-align: left;
  padding-left: 0;
}

.sub-phone__left-item {
  list-style: none;
  width: 33.33334%;
}

.sub-phone__left-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #898989;
  display: block;
  padding: 8px 8px 10px;
  position: relative;
  left: 0;
  transition: all linear 0.3s;
}

.sub-phone__left-link::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid #efefef;
  left: 0;
  bottom: 4px;
  width: 94%;
}

.sub-phone__left-link:hover {
  left: 6px;
}

.sub-phone__right {
  width: 25%;
  margin-top: 20px;
  margin-right: 20px;
}

.sub-phone__right-heading {
  font-size: 1.4rem;
  font-weight: 500;
  color: #e79f00;
  border-bottom: 1px solid #e79f00;
  padding-bottom: 4px;
  text-align: left;
}

.sub-phone__right-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 8px;
  text-align: left;
  padding-left: 0;
}

.sub-phone__right-item {
  width: 100%;
}

.sub-phone__right-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #898989;
  display: block;
  padding: 8px 8px 10px;
  position: relative;
  left: 0;
  transition: left ease-in-out 0.1s;
}

.sub-phone__right-link::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid #efefef;
  left: 0;
  bottom: 4px;
  width: 94%;
}

.sub-phone__right-link:hover {
  left: 4px;
}

.sub-phone__bottom {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sub-phone__bottom-heading {
  display: block;
  font-size: 1.4rem;
  margin: 0;
  color: #e79f00;
  font-weight: 500;
}

.header-menu__sub-tablet {
  left: -160px;
  z-index: 2;
}

.header-menu__sub-dependency {
  width: 550px;
  left: 40px;
  z-index: 3;
}

.header-menu__sub-repair {
  width: 510px;
  left: 100px;
  z-index: 4;
}

.header-menu__sub-repair-v2 {
  width: 550px;
  left: 240px;
  z-index: 5;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

// ----------------footer---------------
.footer {
  background-color: #fafafa;
}

.footer-container {
  padding: 40px 0;
}

.footer-heading {
  color: $primary-color;
  margin-bottom: 10px;
}

.footer-address_city {
  margin-top: 20px;
  .footer-address__list {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  .footer-address__phone {
    margin: 0;
    font-size: 1.4rem;
  }
  .footer-address__link {
    color: $primary-color;
    text-decoration: none;
  }
}

.footer-policy {
  font-size: 1.5rem;
  .footer-policy__item {
    margin: 10px 0 10px 20px;
    position: relative;
    cursor: pointer;
    color: #58595b;
  }
}

.footer-email {
  margin: 20px 0 40px 0;
  input {
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #bcbec0;
    font-size: 1.4rem;
  }
  button {
    font-size: 1.4rem;
    background-color: $primary-color;
    color: #fff;
    width: 55px;
    height: 27px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
  }
}

.facebook {
  margin-bottom: 15px;
  height: 25px;
}

.facebook a {
  font-size: 1.4rem;
  color: $black-color;
  text-decoration: none;
  display: block;
  height: 25px;
  line-height: 25px;
}
.youtube a {
  font-size: 1.4rem;
  text-decoration: none;
  color: $black-color;
  display: block;
  height: 25px;
  line-height: 25px;
}

.icon-footer {
  margin-top: 10px;
  padding-top: 20px;
}

.footer-bottom-item {
  padding-bottom: 10px;
}

.footer-bottom-item div {
  font-size: 1.4rem;
}

.footer-bottom-item div:last-child {
  text-align: end;
  display: inline-block;
}

.custom-footer-bottom-item {
  display: flex;
}

.footer-address__headding {
  font-size: 1.6rem;
  margin-bottom: 6px;
}

// -------------------slider------------------------------------------------

#slider {
  width: 1200px;
  margin: auto;
  display: flex;
}

/* Slideshow container */
.slideshow-container {
  width: 70%;
  padding: 10px 10px 10px 0;
}

.slider-right {
  width: 30%;
  padding: 10px 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.2s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fadein {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 1.5s;
  animation-name: fadein;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

// slider-right
.container-right {
  display: flex;
  flex-direction: column;
}

.container-right__iframe {
  width: 100%;
  height: 221px;
}

.container-right__iframe iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sub-img {
  width: 100%;
  display: flex;
}

.sub-img-item {
  margin-right: 4px;
  margin-top: 4px;
}

.sub-img-item:last-child {
  margin-right: 0;
}

.lazy {
  width: 100%;
}

// ----------------body-------------
.container {
  padding-bottom: 20px;
}

.directional {
  margin: 20px 0;
}

.directional-list {
  display: flex;
  list-style: none;
  font-size: 14px;
}

.directional-item {
  margin-right: 10px;
}

.directional-item a {
  text-decoration: none;
  color: $primary-color;
}

// content sản phẩm

.content {
  margin-bottom: 20px;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.content-item {
  width: 20%;
  padding: 10px;
  border: 1px solid rgb(228, 227, 227);
}

.content-item div {
  display: flex;
}

.content-item div img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  margin: auto;
}

.content-item h2 {
  font-size: 1.6rem;
  margin: 10px 0;
  line-height: 20px;
}

.content-item p {
  font-size: 1.4rem;
  color: rgb(133, 130, 130);
  margin: 6px 0;
}

.content-item span {
  font-size: 1.4rem;
  color: red;
  margin-top: 20px;
}

.content-item .price {
  font-weight: 600;
  display: block;
}

.content-item button {
  display: block;
  font-size: 1.4rem;
  color: white;
  background: #fa9308;
  background: -moz-linear-gradient(top, #fa9308 0%, #fa6f1c 100%);
  background: -webkit-linear-gradient(top, #fa9308 0%, #fa6f1c 100%);
  background: linear-gradient(to bottom, #fa9308 0%, #fa6f1c 100%);
  width: 100%;
  margin: 10px 0;
  padding: 4px;
  border: none;
  border-radius: 4px;
}

// ----------------product----------

.directional {
  color: $primary-color;
  font-size: 1.4rem;
  font-weight: 600;
}

.name-product {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.name-product h4 {
  color: #fe9727;
}

.product {
  display: flex;
}

.product-image {
  width: 30%;
  & .product-image-item {
    display: flex;
  }
  & img {
    width: 262px;
    height: 262px;
    margin: auto;
  }

  & .product-address {
    margin-top: 10px;
    & p {
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 10px;
      margin-top: 40px;
    }
    & select {
      width: 100%;
      color: $primary-color;
      padding: 5px;
      border: 1px solid $primary-color;
      border-radius: 4px;
      outline: none;
    }
    & .product-address-list {
      background-color: #f6f6f6;
      list-style: none;
      font-size: 1.4rem;
      & .product-address-item {
        padding: 5px;
        & .product-still {
          color: blue;
        }

        & .product-over {
          color: red;
        }
      }
    }
  }
}

.product-info {
  width: 45%;
}

.product-similar {
  width: 25%;
}

// product info

.product-info {
  padding: 0 20px;
  & .product-info-price-at {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    & span {
      font-weight: 500;
    }
    & select {
      color: $primary-color;
      border: none;
      outline: none;
    }
    & i {
      color: $primary-color;
    }
  }

  & .product-info-price {
    color: red;
    margin-bottom: 10px;
  }

  & .product-info-form {
    font-size: 1.4rem;

    & .product-info-form-title {
      font-weight: 600;
    }

    & p {
      line-height: 30px;

      & .black {
        font-weight: 600;
      }

      & .detail {
        color: blue;
      }
    }

    & .product-info-form-list {
      & .product-info-form-item {
        display: flex;
        padding: 10px 0;
        align-items: center;

        & .product-info-form-item__title {
          width: 100px;
        }

        & .product-info-form-item__value {
          display: flex;

          & .color-black,
          .color-white {
            width: 28px;
            height: 28px;
            background-color: #fff;
          }

          & .color-black {
            background-color: $black-color;
          }

          & .product-info-form-item__value-detail {
            margin-right: 6px;
            border: 1px solid #ccc;
            padding: 5px 10px;
            border-radius: 4px;
          }
        }
      }
    }
  }

  & .product-info-promotion {
    position: relative;
    font-size: 1.4rem;
    color: #000;
    line-height: 2.2rem;
    padding: 14px;
    margin-top: 10px;
    border: 1px solid $primary-color;
    border-radius: 4px;

    & span {
      color: red;
    }

    & .Hotline {
      font-weight: 600;
    }

    & h3 {
      position: absolute;
      top: -10px;
      left: 30px;
      background-color: #fff;
      padding: 0px 10px;
      border: 1px solid $primary-color;
      border-radius: 4px;
      color: #000;
    }
  }

  & .product-info-button {
    margin-top: 10px;

    & .product-info-button__title {
      font-size: 1.4rem;
      color: #000;
    }

    & .product-info-button__top {
      display: flex;
      margin: 10px 0;
      justify-content: space-between;

      & button {
        width: 49%;
        padding: 14px 0;
        background-color: #5d83db;
        border: none;
        border-radius: 4px;
        outline: none;
        font-size: 1.6rem;
        color: #fff;
        font-weight: 600;
        box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 58%);
      }

      & .other {
        background: linear-gradient(to bottom, #fa9d4d 0%, #f87f41 100%);
      }
    }

    & .product-info-button__body {
      & button {
        width: 100%;
        padding: 14px 0;
        background-color: #5d83db;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 58%);
        outline: none;
        color: #fff;
      }
    }
  }
}

// similar phone

.product-similar-top {
  margin-bottom: 4px;
}

.product-similar-title {
  width: 100%;
  font-size: 1.6rem;
  color: #fff;
  background-color: $primary-color;
  padding: 10px 6px;
  font-weight: 500;
}

.product-similar-list {
  font-size: 1.4rem;
  padding-top: 6px;
  background-color: #f6f6f6;
}

.product-similar-item {
  display: flex;
  padding-bottom: 10px;

  & .product-similar-item__info {
    padding-left: 10px;
    line-height: 21px;

    & .name-similar {
      font-weight: 600;
    }

    & .price {
      color: red;
      font-weight: 500;
    }

    & a {
      color: blue;
      text-decoration: none;
    }
  }
}

.product-detail {
  display: flex;
  margin-top: 20px;

  & .product-detail-Specifications {
    width: 40%;

    & .product-detail-Specifications__title {
      font-size: 1.4rem;
      color: $primary-color;
      padding: 10px;
      border-top: 1px solid #edeaea;
      border-bottom: 1px solid #edeaea;
    }

    & .product-detail-Specifications__content {
      margin-top: 10px;

      & .Specifications__content-item {
        display: flex;

        & div:first-child {
          width: 130px;
          border: 1px solid #edeaea;
          display: flex;
          align-items: center;
          padding-left: 4px;
        }

        & div:last-child {
          padding: 4px 10px;
          line-height: 20px;
          border: 1px solid #edeaea;
          flex: 1;
        }
      }
    }
  }

  & .product-detail-video {
    width: 60%;

    & .product-detail-video__title {
      font-size: 1.4rem;
      color: $primary-color;
      padding: 10px;
      border-top: 1px solid #edeaea;
      border-bottom: 1px solid #edeaea;
    }

    & .product-detail-video__content {
      margin-top: 10px;

      & .product-detail-video__content-img {
        padding-left: 10px;
        width: 100%;
        height: 376px;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      & .product-detail-video__content-img-list {
        display: flex;
        margin-top: 10px;
        padding-left: 10px;

        & .product-detail-video__content-img-item {
          width: calc(100% / 3);
          border-radius: 4px;
          overflow: hidden;
          margin-right: 10px;
          position: relative;

          & img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 4px;
          }

          & span {
            position: absolute;
            bottom: 5px;
            right: 0;
            width: 25px;
            height: 25px;
            border-radius: 4px;
            background-color: #fa7816;
            font-size: 1.6rem;
            text-align: center;
            line-height: 25px;
            color: #fff;
          }
        }
      }
    }
  }
}

// form create

.form-create {
  font-size: 1.4rem;
  padding: 20px 0;
}

.form-create h3 {
  font-size: 2rem;
  padding: 10px;
}

.form-edit {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  padding: 10px;
  width: 33.33333%;
}

.form-group label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 2rem;
  color: $primary-color;
}

.form-group input {
  padding: 10px;
  width: 90%;
  border: 1px solid $primary-color;
  border-radius: 4px;
  outline: none;
}

.form-btn {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
}

// pages admin

table {
  width: 100%;
}

table th,
table td {
  padding: 10px 10px;
  border-top: 1px solid #e2dddd;
  text-align: left;
}

.table-admin {
  font-size: 1.6rem;
  padding: 20px 0;
}

.table-admin h3 {
  margin-bottom: 20px;
}

.btn-delete,
.btn-create {
  padding: 10px;
  color: rgb(0, 0, 255);
}

.btn:hover {
  color: rgb(45, 45, 187);
}

// modal admin

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal-container {
  margin: 150px auto auto;
  background-color: #fff;
  padding: 10px;
  font-size: 1.6rem;
  width: 500px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  animation: fade linear 0.2s;
}

@keyframes fade {
  from {
    transform: translateY(-200px);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.modal-container-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding: 10px 0 20px;
}

.modal-container-title span {
  font-size: 3rem;
  opacity: 0.6;
  cursor: pointer;
}

.modal-container-btn {
  margin-top: 40px;
  text-align: end;
}

.modal-container-btn button {
  padding: 10px 20px;
  font-size: 1.6rem;
  border: none;
  border-radius: 4px;
  outline: none;
}

.btn-danger {
  background-color: red;
  color: #fff;
}

.modal-container-btn button:hover {
  opacity: 0.8;
  cursor: pointer;
}
