<div class="footer">
    <div class="grid wide">
        <div class="row footer-container">
            <div class="col l-3">
                <h3 class="footer-heading">
                    <div class="all-icon icon-location"></div>
                    HỆ THỐNG CỬA HÀNG
                </h3>
                <div class="footer-address">
                    <div class="footer-address_city">
                        <h4 class="footer-address__headding">Hà Nội</h4>
                        <div class="footer-address__list">
                            <p class="footer-address__phone"> 120 Thái Hà, Q. Đống Đa <a href="" class="footer-address__link">| Xem bản đồ</a> </p>
                            <p class="footer-address__phone"> Điện thoại: 0969.120.120 (Bán hàng) - 037.437.9999 (Kỹ thuật) </p>
                        </div>
                        <div class="footer-address__list">
                            <p class="footer-address__phone"> 398 Cầu Giấy, Q. Cầu Giấy <a href="" class="footer-address__link">| Xem bản đồ</a> </p>
                            <p class="footer-address__phone"> Điện thoại: 096.1111.398 (Bán hàng) - 037.437.9999 (Kỹ thuật) </p>
                        </div>
                        <div class="footer-address__list">
                            <p class="footer-address__phone"> 42 Phố Vọng, Hai Bà Trưng <a href="" class="footer-address__link">| Xem bản đồ</a> </p>
                            <p class="footer-address__phone"> Điện thoại: 0979.884242 (Bán hàng) - 037.437.9999 (Kỹ thuật) </p>
                        </div>
                    </div>
                    <div class="footer-address_city">
                        <h4 class="footer-address__headding">Hồ Chí Minh</h4>
                        <div class="footer-address__list">
                            <p class="footer-address__phone"> 123 Trần Quang Khải, Q.1 <a href="" class="footer-address__link">| Xem bản đồ</a> </p>
                            <p class="footer-address__phone"> Điện thoại: 0965.123.123 - 0969.520.520 </p>
                        </div>
                        <div class="footer-address__list">
                            <p class="footer-address__phone"> 602 Lê Hồng Phong, P.10, Q.10 <a href="" class="footer-address__link">| Xem bản đồ</a> </p>
                            <p class="footer-address__phone"> Điện thoại: 097.1111.602 - 097.3333.602 </p>
                        </div>
                    </div>
                    <div class="footer-address_city">
                        <h4 class="footer-address__headding">Đà Nẵng</h4>
                        <div class="footer-address__list">
                            <p class="footer-address__phone"> 97 Hàm Nghi, Q.Thanh Khê <a href="" class="footer-address__link">| Xem bản đồ</a> </p>
                            <p class="footer-address__phone"> Điện thoại: 096.123.9797 - 097.123.9797 </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col l-3">
                <h3 class="footer-heading">
                    <div class="all-icon icon-policy"></div>
                     QUY ĐỊNH - CHÍNH SÁCH
                </h3>
                 <ul class="footer-policy">
                     <li class="footer-policy__item">Chính sách bảo hành</li>
                     <li class="footer-policy__item">Chính sách vận chuyển</li>
                     <li class="footer-policy__item">Chính sách đổi trả hàng</li>
                     <li class="footer-policy__item">Chính sách bảo mật thông tin</li>
                     <li class="footer-policy__item">Hướng dẫn thanh toán</li>
                     <li class="footer-policy__item">Hướng dẫn mua hàng Online</li>
                     <li class="footer-policy__item">Dịch vụ Ship COD Toàn quốc</li>
                     <li class="footer-policy__item">Chính sách đại lý linh, phụ kiện</li>
                     <li class="footer-policy__item">Sitemap</li>
                 </ul>
            </div>

            <div class="col l-3">
                <div>
                    <h3 class="footer-heading">
                        <div class="all-icon icon-email"></div>
                        ĐĂNG KÝ NHẬN BẢNG TIN
                    </h3>
                    <div class="footer-email">
                        <input type="text" placeholder="Nhập email của bạn ...">
                        <button >Gửi</button>
                    </div>
                </div>
                <div>
                    <h3 class="footer-heading">
                        <div class="all-icon icon-connect"></div> 
                        LIÊN KẾT
                    </h3>
                    <div class="facebook">
                        <div class="all-icon icon-facebook"></div>
                        <a href="">Facebook</a>
                    </div>
                    <div class="youtube">
                        <div class="all-icon icon-youtube"></div> 
                        <a href="">YouTube</a>
                    </div>
                </div>
            </div>

            <div class="col l-3 icon-footer">
                <div class="all-icon icon-norton"></div>
                <div class="all-icon icon-notification"></div>
            </div>
        </div>

        <div class="row footer-bottom-item">
            <div class="col l-5">
                <p>© 2020. MobileCity hệ thống bán lẻ điện thoại di động.</p>
            </div>
            <div class="col l-4 custom-footer-bottom-item">
                <p>Bạn có thể thanh toán với</p>  
                <div class="all-icon icon-bank"></div>             
            </div>
            <div class="col l-3">
                <p>Tư vấn và phát triển bởi: <a href="">SUDO</a></p>
            </div>
        </div>
    </div>
</div>