<header id="header">
        <div class="grid wide">
            <div class="header-top">
                <div class="header-address">
                    <h4 class="header-address__heading">Bạn đang xem giá, tồn kho tại:
                        <select name="" class="header-address__form">
                                <option value="" class="header-address__item">Hà Nội</option>
                                <option value="" class="header-address__item">Đà Nẵng</option>
                                <option value="" class="header-address__item">Hồ Chí Minh</option>
                            </select>
                    </h4>

                </div>

                <div class="header-info">
                    <h4 class="header-info__heading">
                        Hotline <span class="header-info__phone">HN: 0969.120.120 - SG: 0965.123.123 - ĐN: 096.123.9797 - CSKH Online 037.462.9999 - 096.539.7966</span>
                    </h4>
                </div>

                <ul class="header-logs__list">
                    <li class="header-logs__item">
                        <a href="" class="header-logs__link">Đăng Nhập</a>
                    </li>
                    <li class="header-logs__item">
                        <a href="" class="header-logs__link">Đăng Ký</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-bt">
            <div class="grid wide">
                <div class="header-bottom">
                    <a href="/" class="header-bottom__logo icon-logo all-icon"></a>
                    <form class="header-bottom__search">
                        <input type="text" placeholder="Tìm kiếm sản phẩm ..." class="header-bottom__search-input">
                        <button type="submit" class="btn-search">
                            <div class="all-icon icon-search"></div>
                        </button>
                    </form>
                    <div class="header-bottom__menu">
                        <ul class="header-menu__list">
                            <li class="header-menu__item">
                                <a href="/dien-thoai" class="header-menu__link">
                                    <div class="all-icon icon-phone"></div>
                                    ĐIỆN THOẠI
                                </a>
                                <div class="header-menu__sub-phone">
                                    <div class="header-menu__sub-phone-menu">
                                        <div class="sub-phone__left">
                                            <span class="sub-phone__left-heading">Hãng sản xuất</span>
                                            <ul class="sub-phone__left-list">
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Tivi Xiaomi</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Apple(iphone)-Quốc tế</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Samsung</a> </li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Oneplus</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Xiaomi</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> OPPO(Realme)</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Vivo</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> ZTE(Nubia)</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Asus</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Nokia</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> LG</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Google</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Vsmart</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Meizu</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Apple(iphone)-Lock</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Sony</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> BlackBerry</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Lenovo</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> BKAV</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Huawei</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Smartisan</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Meiigoo</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Apple Watch</a></li>
                                            </ul>
                                        </div>
                                        <div class="sub-phone__right">
                                            <span class="sub-phone__right-heading">Mức giá</span>
                                            <ul class="sub-phone__right-list">
                                                <li class="sub-phone__right-item"><a href="" class="sub-phone__right-link">Dưới 1 triệu</a> </li>
                                                <li class="sub-phone__right-item"><a href="" class="sub-phone__right-link">Dưới 2 triệu</a> </li>
                                                <li class="sub-phone__right-item"><a href="" class="sub-phone__right-link">Dưới 3 triệu</a> </li>
                                                <li class="sub-phone__right-item"><a href="" class="sub-phone__right-link">Dưới 5 triệu</a> </li>
                                                <li class="sub-phone__right-item"><a href="" class="sub-phone__right-link">Dưới 8 triệu</a> </li>
                                                <li class="sub-phone__right-item"><a href="" class="sub-phone__right-link">Dưới 10 triệu</a> </li>
                                                <li class="sub-phone__right-item"><a href="" class="sub-phone__right-link">trên 10 triệu</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="sub-phone__bottom">
                                        <i class="all-icon icon-rank"></i>
                                        <p class="sub-phone__bottom-heading">
                                            Bảng xếp hạng điện thoại của tháng
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="header-menu__item">
                                <a href="" class="header-menu__link">
                                    <div class="all-icon icon-tablet"></div>
                                    TABLET
                                </a>

                                <div class="header-menu__sub-phone header-menu__sub-tablet">
                                    <div class="header-menu__sub-phone-menu">
                                        <div class="sub-phone__left">
                                            <span class="sub-phone__left-heading">Hãng sản xuất</span>
                                            <ul class="sub-phone__left-list">
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Ipad</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Samsung Galaxy Tab</a></li>
                                            </ul>
                                        </div>
                                        <div class="sub-phone__right">
                                            <span class="sub-phone__right-heading">Mức giá</span>
                                            <ul class="sub-phone__right-list">
                                                <li class="sub-phone__right-item"><a href="" class="sub-phone__right-link">Dưới 1 triệu</a> </li>
                                                <li class="sub-phone__right-item"><a href="" class="sub-phone__right-link">Dưới 2 triệu</a> </li>
                                                <li class="sub-phone__right-item"><a href="" class="sub-phone__right-link">Dưới 3 triệu</a> </li>
                                                <li class="sub-phone__right-item"><a href="" class="sub-phone__right-link">Dưới 5 triệu</a> </li>
                                                <li class="sub-phone__right-item"><a href="" class="sub-phone__right-link">Dưới 8 triệu</a> </li>
                                                <li class="sub-phone__right-item"><a href="" class="sub-phone__right-link">Dưới 10 triệu</a> </li>
                                                <li class="sub-phone__right-item"><a href="" class="sub-phone__right-link">trên 10 triệu</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="sub-phone__bottom">
                                        <i class="all-icon icon-rank"></i>
                                        <p class="sub-phone__bottom-heading">
                                            Bảng xếp hạng điện thoại của tháng
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="header-menu__item">
                                <a href="" class="header-menu__link">
                                    <div class="all-icon icon-dependency"></div>
                                    PHỤ KIỆN
                                </a>
                                <div class="header-menu__sub-phone header-menu__sub-dependency">
                                    <div class="header-menu__sub-phone-menu">
                                        <div class="sub-phone__left">
                                            <span class="sub-phone__left-heading">Hãng sản xuất</span>
                                            <ul class="sub-phone__left-list">
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Loa - Tai nghe</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Đồng hồ thông minh</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Pin, Sạc dự phòng</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện iphone</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Đồng chơi công nghệ</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện Xiaomi</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Máy lọc không khí</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện Realme</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện OnePlus</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện Sony</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện Sam Sung</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện LG</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện Lenovo</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện Asus</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện Ipad</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện Meizu</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện BlackBerry</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện Oppo</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện khác</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện Pisen</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link"> Phụ kiện Mark</a></li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>
                            </li>
                            <li class="header-menu__item">
                                <a href="" class="header-menu__link">
                                    <div class="all-icon icon-repair"></div>
                                    SỬA CHỮA
                                </a>
                                <div class="header-menu__sub-phone header-menu__sub-repair">
                                    <div class="header-menu__sub-phone-menu">
                                        <div class="sub-phone__left">
                                            <span class="sub-phone__left-heading">Hãng sản xuất</span>
                                            <ul class="sub-phone__left-list">
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Iphone</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Xiaomi</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Sam Sung</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Oppo</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Realme</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Honor</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Ipad</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Sony</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">HTC</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">LG</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Asus</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Blackberry</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Vivo</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Mobiistar</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Huawei</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Sim Ghép Iphone</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Hãng khác</a></li>
                                                <li class="sub-phone__left-item"><a href="" class="sub-phone__left-link">Linh kiện điện thoại</a></li>
                                            </ul>
                                        </div>

                                    </div>

                                </div>
                            </li>
                            
                            <li class="header-menu__item">
                                <a href="/admin" class="header-menu__link">
                                    <div class="all-icon icon-endow"></div>
                                    ADMIN
                                </a>
                            </li>

                            <li class="header-menu__item">
                                <a href="/dien-thoai/create" class="header-menu__link">
                                    <div class="all-icon icon-warranty"></div>
                                    THÊM KH
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </header>